

<!-- <button (click)='userProfile()'>example</button> -->
<!-- <app-webcam (pictureTaken)="handleImage($event)"></app-webcam>
<div class="snapshot" *ngIf="webcamImage">
<img [src]="webcamImage.imageAsDataUrl" /> -->

<table class="table " id="tab"> 
    <tr id="head">
        <th>Utility</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    <tr>
      <th>Electricity Bill</th>
      <th>01-Mar-2021</th>
      <th>1000</th>
    </tr>
    <tr>
        <th>Internet Bill</th>
        <th>02-Mar-2021</th>
        <th>500</th>
    </tr>
    <tr>
        <th>House Rent</th>
        <th>04-Mar-2021</th>
        <th>20000</th>
    </tr>
    <tr>
        <th>Maintance Charge</th>
        <th>04-Mar-2021</th>
        <th>2000</th>
    </tr>
  </table>